

body {
    font-family: "ModeSeven", sans-serif;
    background-color: #1E1F24;
    color: #86E2C6;
    
}

.test {
    overflow:hidden;
    height: 100px; 
    width: 960px;   

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    font-size: 24px;
    
    display: inline-flex;
    flex-wrap: wrap;
}

#timer {
        position: absolute;
        left: 45%;
        top: 30%;
        transform: translate(-35%, -60%);
        font-size: 4em;
}

.passed {
    color: #86E2C6;
    opacity: 0.3;}

.incorrect {
    color: red;
}

.error {
    text-decoration: underline 1px red;
}




.test>div {
    margin: 6px;
    
}
