@font-face {
    font-family: "ModeSeven";
    src: url('./fonts/modes.woff') format('woff');
    font-weight: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    box-sizing: border-box;
    font-family: "ModeSeven", sans-serif;
    background-color: #1E1F24;
    color: #86E2C6;
}



.container {
    position: absolute;
    left: 50%;
    transform:translate(-50%,100%);
    user-select: none;

}

.test {
    height: 18vh;
    width: 80vw;
    overflow: hidden;

}

.header {
    position:absolute;
    top: -80%;
    left: 5%;
} 

.header-primary--1,
.header-primary--2 {
    font-size: 4rem;
}

.word {
    display: inline-block;
    font-size: 2.5rem;
    margin: .7rem;
}


#timer {
    color: white;
    font-size: 3rem;
    margin-left: .7rem;
    margin-bottom: 1rem;    
}

.passed {
    opacity: .3;

}

.error {
    opacity: .6;
    color: red;
}

.caret {    
    border-left: .4rem solid white;
    padding: 0;
    margin-left: -.4rem;
    animation: blink 1s infinite;
}

.button-box{
    margin-top: 4rem;
    text-align: center;
}

.button--restart{

    border-radius: 4px;
    padding: 1rem 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #86E2C6;
    font-size: 2.5rem;
    transition: all .3s;
}

.button--restart:hover {
    color:rgb(215, 215, 215) ;
}


.button--restart:active {
    background-color: rgb(215, 215, 215);
    color: #1E1F24;
}

@keyframes blink {

    50% {
        border-color: rgba(255,255,255,0)
    }
  }

  