@font-face {
    font-family: "ModeSeven";
    src: url('./fonts/modes.woff') format('woff');
    font-weight: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "ModeSeven", sans-serif;
    background-color: #1E1F24;
    color: #86E2C6;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;

}

.test {
    height: 18vh;
    width: 80vw;
    overflow: hidden;

}

.word {
    display: inline-block;
    font-size: 2.5rem;
    margin: .7rem;
}


#timer {

    font-size: 3rem;
    margin-left: .7rem;
    margin-bottom: 1rem;

}

.passed {
    opacity: .3;

}

.error {
    opacity: .6;
    color: red;
}

.caret {    
    border-left: .4rem solid white;
    padding: 0;
    margin-left: -.4rem;
    animation: blink 1s infinite;
    
    
}

@keyframes blink {

    50% {
        border-color: rgba(255,255,255,0)
    }
  }

  