@font-face {
    font-family: "ModeSeven";
    src: url('./fonts/modes.woff') format('woff');
    font-weight: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "ModeSeven", sans-serif;
    background-color: #1E1F24;
    color: #86E2C6;
}

.container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform:translate(-50%,-50%);
    user-select: none;
}


.test {
    overflow: hidden;
    height: 12rem;
    width: 80vw;
}

.header {
    position:absolute;
    transform: translateY(-270%);
} 

.header-primary--1,
.header-primary--2 {
    font-size: 3.5rem;
}

.word {
    display: inline-block;
    font-size: 250%;
    margin: .7rem;
}

.stats {
    display: inline-block;
    color: white;
    font-size: 4rem;
    margin-bottom: 1rem;    
}

.passed {
    opacity: .3;
}

.error {
    opacity: .6;
    color: red;
}

.caret {    
    border-left: .4rem solid white;
    padding: 0;
    margin-left: -.4rem;
    animation: blink 1s infinite;
}

.button-box{
    margin-top: 5rem;
    text-align: center;
}

.button--restart{
    border-radius: 4px;
    padding: 1rem 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #86E2C6;
    font-size: 3rem;
    transition: all .3s;
}

.button--restart:hover {
    color:rgb(255, 255, 255) ;
}


.button--restart:active,
.button--restart:focus
{
    outline: none;

    background-color: rgb(255, 255, 255);
    color: #1E1F24;
}

.result-box {
    text-align: center;
}

.secondary {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.primary {
    font-size: 7rem;
    font-weight: 200;
}

@keyframes blink {

    50% {
        border-color: rgba(255,255,255,0)
    }
  }




  